body {
	background-color: white
}

header {
	color: white;
	font-size: 50px;
	text-align: center;
	background-color: blue;
	font-family: Tahoma;
}

.etiqueta{
	font-size: 16px;
	text-align: center;
	color: yellow;
	font-family: Tahoma;
}

footer{
	color: black;
	font-size: 25px;
	text-align: right;
}

p {
	font-size: 21px;
	color: black;
	text-align: center;
	font-family: Tahoma;

}

.hipervinculo {
	width: 30%;
	font-size: 16px;
	color: blue;
	font-family: Tahoma;
}

img {
	width: 99.9%;
}

.foto {
	height: 200px;
	width: 30%;
	margin-right: auto;
	margin-left: auto;
}